db_user: app_user
db_password: your_db_password
db_name: app_db

aws_access_key: YOUR_AWS_ACCESS_KEY
aws_secret_key: YOUR_AWS_SECRET_KEY
aws_region: ap-southeast-3
backup_bucket: your-backup-bucket-name
