---
- name: Decrypt SOPS and set facts for all hosts
  ansible.builtin.set_fact:
    sops_db_user: "{{ sops_data.db_user | default('') }}"
    sops_db_password: "{{ sops_data.db_password | default('') }}"
    sops_db_name: "{{ sops_data.db_name | default('app_db') }}"
    sops_aws_access_key: "{{ sops_data.aws_access_key | default('') }}"
    sops_aws_secret_key: "{{ sops_data.aws_secret_key | default('') }}"
    sops_aws_region: "{{ sops_data.aws_region | default('ap-southeast-3') }}"
    sops_backup_bucket: "{{ sops_data.backup_bucket | default('') }}"
  vars:
    sops_data: >-
      {{
        (lookup('file', secrets_dec_file) | from_yaml)
        if (secrets_dec_file | default('') | length > 0)
        else (lookup('pipe', 'sops -d ' + secrets_enc_file) | from_yaml)
        | default({})
      }}
  when: >-
    (secrets_dec_file | default('') | length > 0)
    or lookup('fileglob', secrets_enc_file) != ''
